@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable scroll bouncing effect */
html,
body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

/* Additional fix for iOS Safari */
body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  overflow: auto;
  overscroll-behavior: none;
}
